# NexusSec: consenti a startx (utente nexus) di avviare Xorg con privilegi root.
# Senza logind/seatd, Xorg "rootless" non riesce ad acquisire il DRM master su
# alcuni hypervisor/driver (vesa richiede root). Con needs_root_rights=yes il
# wrapper Xorg.wrap esegue il server come root: funziona con qualsiasi driver
# (modesetting/vmware/qxl/vesa/fbdev) su VirtualBox/VMware/QEMU/hardware reale.
allowed_users=anybody
needs_root_rights=yes
